{% comment %}
  Renders Clay Design System Trust Badges & Payment Icons
  Namespace: .rb-trust-container
{% endcomment %}
<div class="rb-trust-container">
  <div class="rb-trust-heading">Guarantee Safe Checkout</div>
  <div class="rb-trust-svg-icons">
    <!-- Visa -->
    <svg width="45" height="28" viewBox="0 0 38 24" fill="none"><rect width="38" height="24" rx="4" fill="#1A1F71"/><path d="M15.4 16.5L17.2 6.8H19.7L17.9 16.5H15.4ZM24.7 7C24.2 6.8 23.4 6.6 22.4 6.6C19.8 6.6 18 8 18 9.9C18 11.3 19.3 12.1 20.3 12.6C21.3 13.1 21.6 13.4 21.6 13.9C21.6 14.6 20.7 14.9 19.9 14.9C18.7 14.9 18 14.6 17.3 14.3L16.9 16.2C17.6 16.5 18.7 16.8 20 16.8C22.8 16.8 24.6 15.4 24.6 13.4C24.6 10.9 21.2 10.7 21.2 9.7C21.2 9.3 21.6 8.9 22.4 8.9C23.2 8.9 24.1 9.1 24.6 9.4L24.7 7ZM30.7 16.5H32.9L31 6.8H29C28.4 6.8 27.9 7.1 27.7 7.7L23.7 16.5H26.3L26.8 15.1H30.1L30.7 16.5ZM27.5 13.2L28.9 9.3L29.7 13.2H27.5ZM13.8 6.8L11.4 13.4L11.1 12.1C10.6 10.4 9.1 8.5 7.3 7.5L9.5 16.5H12.1L16.1 6.8H13.8Z" fill="white"/></svg>
    <!-- Mastercard -->
    <svg width="45" height="28" viewBox="0 0 38 24" fill="none"><rect width="38" height="24" rx="4" fill="#0A0E27"/><circle cx="14" cy="12" r="7" fill="#EB001B"/><circle cx="24" cy="12" r="7" fill="#F79E1B"/><path d="M19 6.8A6.9 6.9 0 0 0 16.5 12A6.9 6.9 0 0 0 19 17.2A6.9 6.9 0 0 0 21.5 12A6.9 6.9 0 0 0 19 6.8Z" fill="#FF5F00"/></svg>
    <!-- Amex -->
    <svg width="45" height="28" viewBox="0 0 38 24" fill="none"><rect width="38" height="24" rx="4" fill="#006FCF"/><path d="M7 16L10 8H13L16 16H13.5L12.9 14.3H10.1L9.5 16H7ZM10.7 12.5H12.3L11.5 10.2L10.7 12.5Z" fill="white"/><path d="M17 16V8H22C23.5 8 24.5 9 24.5 10.3C24.5 11.3 23.8 12 22.8 12.2L24.8 16H22.3L20.6 12.6H19.2V16H17ZM19.2 11H21.5C22.1 11 22.6 10.7 22.6 10.1C22.6 9.5 22.1 9.2 21.5 9.2H19.2V11Z" fill="white"/></svg>
  </div>
</div>
